<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.mil.js">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.mil.js"></script>

  <title>Password Generator</title>
  <style>
    #gen-text{
      text-align: center;
    }
    #nav{
      background-color: rgb(67, 75, 82);
    }
  </style>
</head>
<body>
  <div id="nav">
    <br>
    <br>
    <br>
  </div>
  <br>
  <br>
  <div id="gen-text">
    <h3>Your generated password is: </h3>
    <p id="password">{{password}}</p>
    <br>
    <br>
    <form action="/" method="get" id="passwordForm">
      <button type="submit" class="btn btn-primary" name="rerun" value="regen" form="passwordForm">Generate New Password</button>
    </form>
  </div>
</body>
</html>